h1 {
    color: rgb(104, 100, 100);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  
  .data-finalizar {
    margin-bottom: 1rem;
    text-align: start;
  }
  
  .forms, .form {
    width: 100%;
  }
  
  form {
    min-height: 80vh;
    margin: 2rem auto 0 auto;
    text-align: center;
    width: 70%;
  }
  
  .buttons {
    text-align: start;
    width: 100%;
  }
  
  button {
    margin-right: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }