<div class="container">
    <h1>Tasks finalizadas</h1>
    <div class="badge">
        <button (click)="voltar()" mat-stroked-button color="primary">Voltar</button>
    </div>
    <div class="content" *ngFor="let item of listFinished">
        <mat-card class="elevation-card">
            <p>Data para finalizar {{item.dataParaFinalizar}}</p>
            <mat-card-header>
                <mat-card-title>{{item.titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="p-content" style="word-wrap: break-word; text-align: start;">{{item.descricao}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>