img {
    height: 3rem;
}

.header {
    justify-content: center;
    height: 10%;
}

span {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 1.2rem;
}

/* .elevation-header {
    padding: 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
} */